.footer {
  height: 12vh;
  background-color: #e76c1f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 256px;
}

@media (max-width: 1000px) {
  .footer {
    padding: 0px 128px;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 0px 64px;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 0px 64px;
    justify-content: center;
    gap: 12px;
    flex-direction: column;
  }
}
