footer {
  background-color: #e76c1f;
  height: 10vh;
  display: flex;
  padding: 0px 256px;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  text-decoration: none;
  color: white;
}

@media (max-width: 1440px) {
  footer {
    padding: 0px 128px;
  }
}

@media (max-width: 600px) {
  footer {
    padding: 0px 64px;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }
}

@media (max-width: 400px) {
  footer {
    padding: 0px 32px;
  }
}
