header {
  display: flex;
  height: 8vh;
  background-color: var(--bg-color);
  padding: 0px 256px;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  height: 4vh;
}

.header-burger-menu {
  height: 5vh;
}

@media (max-width: 1440px) {
  header {
    padding: 0px 128px;
  }
}

@media (max-width: 600px) {
  header {
    padding: 0px 64px;
  }
}

@media (max-width: 400px) {
  header {
    padding: 0px 32px;
  }
}
